font{
font-family: 'Segoe UI';

}
.gabi{
    background-color: rgb(36, 101, 242);
    color:white;
    border:none;
    border-radius: 15px;
    
    font-size: 15px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;

}
.bs{
    margin-bottom: 0px;
}
input{
    width:386px;
}